aaaa
<!--
<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
  <ng-template #alertSignin></ng-template>
  <div class="form-group m-form__group">
    <input class="form-control m-input" type="text" placeholder="CPF" id="email" name="email" [(ngModel)]="model.email" #email="ngModel"
      autocomplete="off">
  </div>
  <div class="form-group m-form__group">
    <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Senha" name="password" [(ngModel)]="model.password"
      #password="ngModel">
  </div>
  <div class="row m-login__form-sub">
    <div class="col m--align-left">
      <label class="m-checkbox m-checkbox--focus">
        <input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel"> Lembrar-me
        <span></span>
      </label>
    </div>
  </div>
  <div class="m-login__form-action">
    <button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit"
      class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
      Entrar
    </button>
  </div>
</form>

-->
